button {
  outline: none;
  border: none;
  cursor: pointer;
}

.habit-button {
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
  border: none;
}

.habit-button:hover{
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: goldenrod;
}